numpy==2.0.2
opencv-python==4.10.0.84
pyrealsense2==2.55.1.6486
scipy==1.13.1
PyYAML==6.0.2
nacos_sdk_python==0.1.12
paho_mqtt==1.6.1
PyYAML==6.0.1
numpy==1.24.4
redis==5.0.1
opencv_python==4.7.0.72
open3d==0.17.0
minio==7.1.17